---
import Todo from "../../components/Todo";
---

<main class="todo__wrapper">
  <Todo client:load />
</main>

<style>
  .todo__wrapper {
    height: 100vh;
    position: fixed;
    width: 100vw;
  }
</style>
