---
import TodoList from "./TodoList.astro";
import type { Props as TodoTaskType } from "./TodoTask.astro";
import { TodoTaskStatus } from "./TodoTask.astro";

const initialTasks: TodoTaskType[] = [
  {
    id: "1",
    name: "test",
    status: TodoTaskStatus.DONE,
  },
  {
    id: "2",
    name: "Eve",
    status: TodoTaskStatus.IN_PROGRESS,
  },
];
---

<section class="todo">
  <TodoList tasks={initialTasks} />
</section>
