---
export enum TodoTaskStatus {
  TODO = "TODO",
  IN_PROGRESS = "IN_PROGRESS",
  DONE = "DONE",
}

export interface Props {
  id: string;
  name: string;
  status: TodoTaskStatus;
}

const { id, name, status } = Astro.props;
---

<article class="todo__task" id={id}>
  <div class="span">{name}</div>
</article>
